# written by PropertiesConfiguration
# Mon Oct 23 14:31:41 MSD 2006
delimiter = $
existingprojectkey = KEY
importsingleproject = false
importexistingproject = true
mapfromcsv = false
field.resolution = resolution
field.version = versions
field.component = components
field.summary = summary
field.description = description
field.keywords = environment
field.created = created
field.status = status
field.priority = priority
field.type = type
field._changetime = updated
field._reporter = reporter
date.import.format = yyyy/MM/dd hh:mm:ss
user.email.suffix = @orgnanisation.domain
value.priority.highest = 2
value.priority.normal = 
value.status.new = 1
value.status.reopened = 4
value.resolution.fixed = 1
value.priority.lowest = 5
value.resolution.worksforme = 5
value.resolution.wontfix = 2
value.status.Resolved = 5
value.priority.low = 4
value.type.Bug = 1
value.type.New Feature = 2
value.resolution.Open = 
value.type.Task = 3
value.resolution.invalid = 4
value.resolution.duplicate = 3
value.priority.high = 3
value.status.assigned = 3
value.type.enhancement = 2
value.type.task = 3
value.resolution.Opened = Opened
value.status.closed = 6
value.type.defect = 1
date.fields = created
date.fields = _changetime
date.fields = creatednewCustomField
date.fields = createdexistingCustomField 